<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title> {{pageTitle}} </title>
	<link rel="stylesheet" href="main.css">
</head>
<body>

		<header>
			<h1>{{welcomeMessage}}</h1>
		</header>
		
		<nav>
			<ul>
				<li>Home</li>
				<li>About</li>
				<li>Contact</li>
			</ul>
		</nav>
		
		<section>
		<!--This is where the main meat goes -->
			<article>
				<header>
					<hgroup>
						<h1>Title of Article</h1>
						<h2>Subtitle for Article</h2>
					</hgroup>
				</header>
				<p>This is the best article eva!</p>
				<footer>
					<p> Written by Michael Kress </p>
				</footer>
			</article>
			
			<article>
				<header>
					<hgroup>
						<h1>Title of Article 2</h1>
						<h2>Subtitle for Article 2</h2>
					</hgroup>
				</header>
				<p>This is the second best article eva!</p>
				<footer>
					<p> Written by Michael Kress </p>
				</footer>
			</article>
		
		</section>
		
		<aside>
			<h4>News</h4>
			Steve Nash Traded to Lakers!
		</aside>
		
		<footer>
			Copyright {{currentYear}}
		</footer>



</body>
</html>